In [82]:
import pandas as pd
import os

dir_name = "Original_Data/happiness/"
files = os.listdir(dir_name)
happiness_index = {}
for file_name in files:
    year = file_name[:-4]
    if year in ["2020"]:
        subset = ['Country name', 'Ladder score']
    elif year in ["2019", "2018"]:
        subset = ['Country or region', 'Score']
    elif year in ['2017']:
        subset = ['Country', 'Happiness.Score']
    elif year in ['2016', '2015']:
        subset = ['Country', 'Happiness Score']
    else:
        print("No data for year", year)
    happiness_index[year] = pd.read_csv(dir_name + file_name).dropna(subset = subset)

with open('processed/Happiness.csv', 'w') as f:
    print("country,year,score", file = f)
    for year in happiness_index.keys():
        tab = happiness_index[year]
        for instance in happiness_index[year].values.tolist():
            if year in ["2020", "2017"]:
                print("%s,%s,%.2f" % (instance[0], year, instance[2]), file = f)
            elif year in ["2019", "2018"]:
                print("%s,%s,%.2f" % (instance[1], year, instance[2]), file = f)
            elif year in ["2016", "2015"]:
                print("%s,%s,%.2f" % (instance[0], year, instance[3]), file = f)

In [83]:
country_info = {}
GDP = pd.read_csv("Original_Data/country_info/" + "GDP_per_capita.csv").dropna(subset = ['Country', 'GDP per capita']).values.tolist()
for instance in GDP:
    country_info[instance[0]] = {"GDP": instance[1]}

life_exp = pd.read_csv("Original_Data/country_info/" + "Life_expectancy.csv").dropna(subset = ['Country', 'Life expectancy']).values.tolist()
for instance in life_exp:
    if instance[0] in country_info.keys():
        country_info[instance[0]]["life_exp"] = instance[1]
    else:
        country_info[instance[0]] = {"life_exp": instance[1]}
        #print("creating new key in country_info:", instance[0])

med_age = pd.read_csv("Original_Data/country_info/" + "Median_age.csv").dropna(subset = ['Country', 'Median age']).values.tolist()
for instance in med_age:
    if instance[0] in country_info.keys():
        country_info[instance[0]]["med_age"] = instance[1]
    else:
        country_info[instance[0]] = {"med_age": instance[1]}
        #print("creating new key in country_info:", instance[0])
        
with open("processed/Country.csv", 'w') as f:
    print("country,med_age,life_expectancy,gdp", file = f)
    for country in country_info.keys():
        if len(country_info[country].keys()) == 3:
            print("%s,%.1f,%.1f,%.1f" % (country, country_info[country]["med_age"], country_info[country]["life_exp"], country_info[country]["GDP"]), file = f)

In [84]:
with open("processed/Case_Gender.csv", 'w') as f:
    gender = pd.read_csv("Original_Data/gender.csv").dropna(subset = ["Country", "Cases (% male)", "Cases (% female)"]).values.tolist()
    print("country,female_percent,male_percent", file = f)
    for instance in gender:
        print("%s,%s,%s" % (instance[1], instance[5], instance[6]), file = f)

In [80]:
gender = pd.read_csv("Original_Data/gender.csv")
gender

,Country code,Country,Case & death data by sex?,Cases date,Cases where sex-disaggregated data is available,Cases (% male),Cases (% female),Deaths date,Deaths where sex-disaggregated data is available,Deaths (% male),Deaths (% female),Deaths in confirmed cases date,Proportion of deaths in confirmed cases (male),Proportion of deaths in confirmed cases (female),Proportion of deaths in confirmed cases (Male:female ratio),Source
0,AF,Afghanistan,Yes,10/13/20,39093.0,69.75%,30.25%,10/13/20,1378.0,74.82%,25.18%,10/13/20,3.78%,2.93%,1.29,http://covid.moph-dw.org/#/
1,AL,Albania,Yes,10/13/20,15752.0,48%,52%,10/13/20,429.0,67%,33%,10/13/20,3.80%,1.73%,2.20,https://coronavirus.al/statistika/
2,DZ,Algeria,Partial,10/13/20,53225.0,53.93%,46.07%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://covid19.cdta.dz/dashboard/production/i...
3,AD,Andorra,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.govern.ad/coronavirus
4,AO,Angola,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cisp.gov.ao:10443/en/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,VN,Vietnam,Yes,10/8/20,1100.0,50.36%,49.64%,10/8/20,35.0,37.14%,62.86%,10/8/20,2.35%,4.03%,0.58,https://www.who.int/docs/default-source/wpro--...
179,NaN,Wales,Yes,10/12/20,31197.0,42.49%,57.51%,10/12/20,1678.0,56%,44%,10/12/20,7.09%,4.12%,1.72,https://public.tableau.com/profile/public.heal...
180,YE,Yemen,Partial,7/21/20,1897.0,73%,27%,9/15/20,584.0,77%,23%,NaN,NaN,NaN,NaN,https://app.powerbi.com/view?r=eyJrIjoiZjE2NzJ...
181,ZM,Zambia,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://web.facebook.com/mohzambia/photos/a.77...
182,ZW,Zimbabwe,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://twitter.com/MoHCCZim/status/1316122062...

In [55]:
import numpy as np
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],

                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],

                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),

                            pd.NaT]})

In [57]:
df.dropna(subset=['name', 'toy'])

       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [61]:
pd.read_csv("Original_Data/happiness/2017.csv")

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005